@import "./NativeSimpleToast/style.scss";


body {
    margin: 0;
    background-color: #222;
    button#reset {
        cursor: pointer;
        position: absolute;
        bottom: 2rem;
        right: 3rem;
        width: 150px;
        height: 60px;
        background-color: #fff;
        border-radius: 0.5rem;
        border: solid 2px #e73636;
        color: #e73636;
        font-size: 1.5rem;
        font-weight: bold;
    }

    





}
main {
    width: 600px;
    height: 600px;
    border-radius: 3rem;
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    background-color: rgba($color: #fff, $alpha: 50%);

    
    display: flex;
    align-items: center;
    justify-content: center;

    button#value-and-count {
        cursor: pointer;
        width: 250px;
        height: 250px;
        outline: none;
        border: solid 3px #333;
        border-radius: 2rem;
        background-color: #fff;
        color: #222;
        font-size: 9rem;

        font-family: cursive;
    }


    
}