#ns-toast-box {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    .ns-toast {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        padding: .7rem .7rem .7rem 1rem;
        margin-bottom: 1rem;
        border-radius: 0.3rem;
        border: solid 1px #444;
        background-color: #eee;
        
        .ns-toast-msg-div {
            display: flex;
            justify-content: end;
            // font-weight: bold;
            span {
                 font-family: "Sawarabi Gothic"; 
            }
        }
        .ns-toast-icon-div {
            align-self: start;
            margin-left: 1rem;
            svg {
                width: 35px;
                height: 35px;
            }
        }
    }
}